<%= partial "partials/header" %>
<%= partial "partials/navigation" %>
<%= partial "partials/welcome" %>
  <div class="content">
    <%= yield %>
  </div>
<%= partial "partials/contact" %>
<%= partial "partials/footer" %>